/* FILEPATH: /D:/Angular/mini-system/src/app/modules/page-not-found/page-not-found.component.css */

/* Estilo para o container da página não encontrada */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f2f2;
}

/* Estilo para o título da página não encontrada */
.title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #333;
  text-shadow: 2px 2px #ccc;
}

/* Estilo para a mensagem da página não encontrada */
.message {
  font-size: 2rem;
  text-align: center;
  color: #666;
  margin-top: 1rem;
}
/* Media queries para ajustar os estilos em telas menores */
@media only screen and (max-width: 768px) {
  .title {
    font-size: 3rem;
  }

  .message {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 480px) {
  .title {
    font-size: 2rem;
  }

  .message {
    font-size: 1rem;
  }
}

/* Define a imagem */
.image404 {
  background-image: url('../../../assets/404_page_not_found-1.png');
  width: 500px;
  height: 500px;
}
